*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.mainbody{
    width: 100%;
    background: black;
    color:whitesmoke;
    margin-left: 20px;
}
.content{
    margin-left: 500px;
    padding-top: 150px;
    line-height: 50px;
}
.middle_body{
    background-image: url('profile\ photo/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg');
    height: 600px;
    width: 100%;
    background-size: contain;
    background-position: center;
}
body{
    background:black ;
    font-family: Arial, Helvetica, sans-serif;
}
#welcome{
    font-size: 3.5rem;
}
.content_description{
    font-size: 2.5rem;
    background-color: rgb(228, 139, 173);
    width: 370px;
}
.content_button{
    padding: 0.5rem 2rem 0.5rem ;
    background-color: whitesmoke;
    border:none;
    outline:none;
    transition: 1s all;
    
}
.content_button:hover{
    background-color: black;
    color:whitesmoke;
    cursor: pointer;
 }


